:root {
    color-scheme: light dark;
    --bigobjview-color: light-dark(#333b3c, #efefec);
    --bigobjview-bg-color: light-dark(#f9f9f9, #212121);
    --bigobjview-change-color: rgb(181, 36, 0);
    --bigobjview-fontsize: 12px;
    --bigobjview-type-boolean-color: #08f;
    --bigobjview-type-number-color: red;
    --bigobjview-type-bigint-color: red;
    --bigobjview-type-string-color: orange;
    --bigobjview-type-object-array-color: #0aa;
    --bigobjview-type-object-object-color: #0aa;
    --bigobjview-type-object-promise-color: #0aa;
    --bigobjview-type-object-map-color: #0aa;
    --bigobjview-type-object-set-color: #0aa;
    --bigobjview-type-function-color: #08f;
    --bigobjview-type-object-regexp-color: red;
    --bigobjview-type-object-date-color: #08f;
    --bigobjview-type-object-error-color: red;
    --bigobjview-action-btn: light-dark(#ddd, #555);
    --bigobjview-action-success: light-dark(rgb(0, 184, 0), #0c0);
    --bigobjview-action-error: red;
}

.big-objview-root {
    font-family: monospace;
    /* user-select: none; */
    font-size: var(--bigobjview-fontsize, 12px);
    --color: var(--bigobjview-color);
    --bg-color: var(--bigobjview-bg-color);
    --opacity: 100%;
    background-color: var(--bg-color);
    color: var(--color);
    * {
        box-sizing: content-box;
    }
    .row {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;

        --compare-mark: calc(100% - 100% * clamp(0,
                    abs(var(--mark-index, -1) - var(--current-index, -1)),
                    1));

        --mark-color: color-mix(in srgb, rgb(255, 128, 0) var(--compare-mark), rgb(255, 234, 0));
        --row-bg-mark: color-mix(in srgb, rgba(255, 128, 0, 0.1) var(--compare-mark), transparent);

        background-color: var(--row-bg-mark);

        &:hover {
            background-color: color-mix(in srgb, var(--bigobjview-color) 3%, var(--row-bg-mark));
        }
    }

    mark {
        background-color: var(--mark-color, rgb(121, 109, 0));
    }

    .line-number {
        opacity: 0.3;
        white-space: preserve;
        user-select: none;
    }


    .node-default {
        display: contents;
    }

    .pointer-cursor {
        cursor: pointer;
    }

    .expand-symbol {
        width: 1em;
        opacity: 0.5;
        line-height: unset;
        vertical-align: top;
        user-select: none;
    }

    .tree-indents {
        white-space: preserve;
        user-select: none;

        >span {
            --compare: calc(clamp(0, abs(var(--indent-index, -1) - var(--active-parent, -1)), 1));
            opacity: clamp(0.07, calc(1 - var(--compare)), 0.4);
            transition: opacity 0.3s;
            position: relative;
            display: inline-block;

            &:after {
                content: "";
                position: absolute;
                background-color: currentColor;
                left: 0.25em;
                width: 0.1em;
                top: -0em;
                bottom: -0em;
            }
        }

    }

    [data-child="true"] .expand-symbol {
        cursor: pointer;
    }

    .symbol {
        opacity: 0.3;
        white-space: pre;
    }

    .node-default[data-nonenumrable="true"]>.name {
        --opacity: 30%;
    }

    .node-default>.name {
        transition: background-color 1s;
        background-color: #0000;
    }

    .node-default {
        color: color-mix(in srgb, var(--color) var(--opacity), transparent);

        >* {
            overflow: hidden;
            flex-shrink: 0;
            flex-grow: 0;
            text-overflow: ellipsis;
        }


        button,
        .tag {
            font-size: 0.8em;
            border-radius: 3px;
            border-width: 0;
            cursor: pointer;
            text-transform: uppercase;
            padding-inline: 0.6em;
            padding-block: 1px 0;
            vertical-align: middle;
            line-height: 1.2;
        }
    }

    .value {
        overflow: hidden;
        flex-shrink: 1 !important;
        text-overflow: ellipsis;

        &.type-boolean {
            --color: var(--bigobjview-type-boolean-color, #08f);
        }

        &.type-number {
            --color: var(--bigobjview-type-number-color, red);
        }

        &.type-bigint {
            --color: var(--bigobjview-type-bigint-color, red);
        }

        &.type-symbol {}

        &.type-undefined {
            --opacity: 30%;
        }

        &.type-string {
            --color: var(--bigobjview-type-string-color, orange);
        }

        &.type-object-array {
            --color: var(--bigobjview-type-object-array-color, #0aa);
        }

        &.type-object-object {
            --color: var(--bigobjview-type-object-object-color, #0aa);
        }

        &.type-object-promise {
            --color: var(--bigobjview-type-object-promise-color, #0aa);
        }

        &.type-object-map {
            --color: var(--bigobjview-type-object-map-color, #0aa);
        }

        &.type-object-set {
            --color: var(--bigobjview-type-object-set-color, #0aa);
        }

        &.type-null {
            --opacity: 30%;
        }

        &.type-function {
            --color: var(--bigobjview-type-function-color, #08f);
            font-style: italic;
        }

        &.type-object-regexp {
            --color: var(--bigobjview-type-object-regexp-color, red);
        }

        &.type-object-date {
            --color: var(--bigobjview-type-object-date-color, #08f);
        }

        &.type-object-error,
        &[class*="error"] {
            --color: var(--bigobjview-type-object-error-color, red);
        }


        &.value-preview {
            --color: var(--bigobjview-color);

            >.name {
                --opacity: 30%;
            }
        }


    }

    .name {
        transition: background-color 1s;
        background-color: #0000;

        &.updated {
            transition: background-color 0.00s;
            background-color: var(--bigobjview-change-color);
        }
    }

    .tags {
        display: flex;
        align-self: center;
        vertical-align: middle;
        align-content: stretch;

        .tag {
            background-color: var(--bigobjview-action-btn);
            font-weight: bold;
            margin-inline: 0.3em;

            &.circular {
                background-color: rgb(193, 45, 0);
                color: white;
            }
        }
    }

    .actions {
        display: flex;
        height: 90%;
        user-select: none;
        align-self: center;
        vertical-align: middle;
        align-items: center;
        align-content: stretch;
        gap: 0.3em;
        padding-inline-start: 0.3em;
        padding-block: 0.2em;
        font-family: monospace;
        overflow: hidden;
        flex-grow: 1;

        button {
            opacity: 0.5;
            color: var(--color);
            background-color: oklch(from var(--color) clamp(0, 70 - l * 100, 1) 0 0);
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            height: min-content;
            margin: 0;

            &:hover {
                opacity: 1;
            }
        }

        button.icon {
            background-color: transparent;
            padding-inline: 0.3em;
            font-weight: bold;
            font-size: 1em;
            line-height: 0.5;
        }

        button.error {
            background-color: var(--bigobjview-action-error, red);
            color: oklch(from var(--bigobjview-action-error) clamp(0, 70 - l * 100, 1) 0 0);
        }

        button.success {
            background-color: var(--bigobjview-action-success, rgb(0, 139, 0));
            color: oklch(from var(--bigobjview-action-success) clamp(0, 70 - l * 100, 1) 0 0);
        }
    }

    .node-default,
    .name,
    .value {
        color: color-mix(in srgb, var(--color) var(--opacity), transparent);
    }

    .buffer-view>span {
        padding-inline: 0.5ch;
        white-space: pre;
    }

    .buffer-view-chars {
        padding-inline-start: 2ch;

        >span {
            display: inline-block;
            width: 1.5ch;
            text-align: center;
        }
    }



}