.big-objview-search {
    position: absolute;
    transition: transform 0.2s;
    right: 0.5em;
    top: 0.5em;
    z-index: 101;
    transform: translateY(-3em);
    color: var(--bigobjview-color);

    &.active {
        transform: translateY(0);
    }

    .search-box {
        background-color: var(--bigobjview-bg-color);
        outline: solid 1px color-mix(in srgb, currentColor 20%, transparent);
        border-radius: 0.3em;
        /* width: 15em; */
        display: flex;
        align-items: center;
        padding: 0.2em;
        height: 1.3em;
        gap: 2px;
        resize: horizontal;
        min-width: 14em;
        
        /* overflow: auto;
        direction: rtl;
        flex-direction: row-reverse;
        >* {
            direction: ltr;
        } */

        &:focus-within {
            outline: solid 2px color-mix(in srgb, currentColor 30%, transparent);
        }
    }

    .loading-indicator {
        font-size: 0.7em;
        transition: opacity 0.4s;
        height: 1em;
        line-height: 1;
        padding-inline-start: 0.2em;

    }

    .input {
        border: none;
        outline: none;
        flex: 1;
        width: 50px;
        background: none;
        color: inherit;
    }

    .search-cursor {
        opacity: 0.5;
        font-size: 0.7em;
        font-family: monospace;
        white-space: pre;

    }

    button {
        border: none;
        font-family: monospace;
        border-radius: 2px;
        height: 1.5em;
        width: 1.5em;
        color: inherit;
        background-color: color-mix(in srgb, currentColor 15%, transparent);

        &:hover {
            outline: solid 1px color-mix(in srgb, currentColor 25%, transparent);
        }

        &:active {
            background-color: color-mix(in srgb, currentColor 25%, transparent);
        }
    }
}