:root {
    color-scheme: light dark;
    --jv-color: light-dark(#333b3c, #efefec);
    --jv-bg-color: light-dark(#f9f9f9, #212121);
    --jv-change-color: rgb(255, 50, 0);
}

.jv-root {

    font-family: monospace;
    user-select: none;
    background-color: var(--jv-bg-color);

    .jv-name {
        opacity: 0.8;
    }

    .jv-tag {
        padding-inline: 0.8em;
        padding-block: 0.3em;
        font-size: smaller;
        background: color-mix(in srgb, currentColor 20%, transparent);
    }

    .jv-type,
    .jv-meta {
        opacity: 0.5;
        font-size: smaller;
        margin-inline: 0.5em;
    }

    .jv-value {
        word-wrap: break-word;
    }
    .jv-keyword {
        font-size: 0.85em;
        padding-inline: 0.6em;
        margin-inline: 0.3em;
        padding-block: 0.05em;
        border-radius: 0.2em;
        text-transform: uppercase;
        font-weight: bold;
        background-color: color-mix(in srgb, currentColor 20%, var(--jv-bg-color));
    }

    .jv-cursor {
        cursor: pointer;
    }

    .jv-field {
        margin-block: 1px;
    }

    .jv-field .jv-field {

        >:first-child>:first-child>.jv-name,
        >.jv-name {
            transition: background-color 1s;
            background-color: #0000;
        }

        &.jv-updated>:first-child>:first-child>.jv-name,
        &.jv-updated>.jv-name {
            transition: background-color 0.00s;
            background-color: var(--jv-change-color);
        }
    }

    .jv-field-obj>.jv-value {
        padding-inline-start: 1.5em;
        margin-inline-start: 0.2em;
        border-inline-start: solid 1px #8888;
        transition: border-color 1s;
    }

    .jv-field .jv-field-obj.jv-updated>.jv-value {
        border-color: var(--jv-change-color);
        transition: border-color 0.00s;
    }

    .jv-field-obj>:first-child>:first-child>.jv-name {
        cursor: pointer;
    }


    .jv-field-obj {
        --lv: 0;
    }

    .jv-field-obj .jv-field-obj {
        --lv: 1;
    }

    .jv-field-obj .jv-field-obj .jv-field-obj {
        --lv: 2;
    }

    .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj {
        --lv: 3;
    }

    .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj {
        --lv: 4;
    }

    .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj {
        --lv: 5;
    }

    .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj {
        --lv: 6;
    }

    .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj .jv-field-obj {
        --lv: 7;
    }

    .jv-field-obj>:first-child {
        container-type: scroll-state;
        position: sticky;
        top: calc(var(--lv, 0) * 1.5em);
        line-height: 1.5;
        z-index: calc(10 - var(--lv, 0));

        @container scroll-state(stuck: top) {
            >div {
                background-color: var(--jv-bg-color);
                border-bottom: solid 1px #8884;
                font-weight: bold;
            }

        }
    }




    .jv-field-string> :is(.jv-type, .jv-value) {
        color: orange;
    }

    .jv-field-number> :is(.jv-type, .jv-value) {
        color: red;
    }

    .jv-field-bigint> :is(.jv-type, .jv-value) {
        color: red;
    }

    .jv-field-boolean> :is(.jv-type, .jv-value) {
        color: #08f;
    }

    .jv-field-function> :is(.jv-type, .jv-value) {
        color: #08f;
    }

    .jv-field-Date> :is(.jv-type, .jv-value) {
        color: #08f;
    }

    .jv-field-obj.jv-field-Map>:first-child>:first-child> :is(.jv-type, .jv-value) {
        color: #080;
    }

    .jv-field-obj.jv-field-Set>:first-child>:first-child> :is(.jv-type, .jv-value) {
        color: #080;
    }

    .jv-field-RegExp> :is(.jv-type, .jv-value) {
        color: #f0f;
    }

    .jv-field[class*="Error"]>:is(.jv-type, .jv-value) {
        color: #f00;
    }

    .jv-preview {
        opacity: 0.5;
    }
}